<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.edu.ssn.insta">

    <application
        android:allowBackup="true"
        android:icon="@drawable/leaf"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Events"></activity>
        <activity android:name=".language" />
        <activity android:name=".Plants" />
        <activity android:name=".Extensive_farming" />
        <activity android:name=".Extensive_farming_tamil" />
        <activity android:name=".login_options" />
        <activity android:name=".map" />
        <activity android:name=".shop" />
        <activity
            android:name=".home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".login_activity" />
        <activity android:name=".Splash_Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".commentsubmit" />
        <activity android:name=".event_desc_activity" />

        <activity android:name=".view_comments" />
        <activity android:name=".upload" />
        <activity android:name=".MainActivity" />
    </application>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>